.navContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  transition: all 0.5s ease-in;
}

.navBlack {
  background-color: #111;
}

.nav {
  padding: 1rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  width: 80px;
  height: 30px;
  cursor: pointer;
}

.avatar {
  width: 30px;
  height: 30px;
  cursor: pointer;
}
